/*
 * #5d5d81 background
 * #382462 button
 * #3b3355 rectangle
 * #ffffff white
 * #f7567c pink
 */
@media {
    h1 {
        color: #ffff;
        font-family: "Playfair Display", serif;
        margin-top: 33px;
        font-size: 85px;
        text-align-last: center;
    }

    h2 {
        font-family: "Spectral", serif;
        color: #ffffff;
        margin-top: 10px;
        font-size: 50px;
        display: block;
    }
    img {
        width: 65%;
        border-radius: 10px;
        margin: 10px 0px 0px 50px;
    }
    #title{
        text-align:center;
    }
    body {
        background-color: #5d5d81;
    }

    #topper {
        background-color: #5d5d81;
        text-align-last: center;
    }

    #button {
        background-color: #382462;
        color: #ffff;
        font-family: "Spectral", serif;
        font-size: 29px;
        border: none;
        border-radius: 7px;
        width: 257px;
        height: 64px;
        display: block;
        text-align: center;
        margin-top: 20px;
        text-decoration-style:none;
        margin-left: 340px;
      

    }
    #button_text{
         color: #ffff; 
        font-family: "Spectral", serif;
        font-size: 29px;
        text-decoration:none;
    }
    h3 {
        font-family: "Spectral", serif;
        color: #ffffff;
        text-decoration: none;
    }
    #navigation {
        text-align: center;
        background-color: #3b3355;
        margin-top: 25px;
        margin-bottom: 20px;
        color:#ffff;
        text-decoration: none;
        
    }
    a {
        text-decoration: none;
        color: #ffff;
    }
    #sections {
        text-align: left;
    }

    .jobtitle {
        color: #ffffff;
        font-family: "Spectral", serif;
        font-size: 25px;
        margin: 10px -1px 0px 50px;
        font-weight:bold
    }

    .company {
        color: #ffffff;
        font-family: "Spectral", serif;
        margin: 10px 0px 0px 50px;
    }

    .date {
        color: #ffffff;
        font-family: "Spectral", serif;
        margin: 10px 0px 10px 50px;
    }

    .experience {
        text-align: left;
        font-size: 39px;
        margin-top: 18px;
        margin-bottom: 20px;
        background-color: #f7567c;
        margin-left: -3px;
        margin-right: -30px;
    
    }
    .skills {
        background-color: #f7567c;
        text-align: left;
        font-size: 39px;
        margin-top: 18px;
        margin-bottom: 20px;
        background-color: #f7567c;
        margin-left: -3px;
        margin-right: -30px;
    }
    .education{
        background-color: #f7567c;
        text-align: left;
        font-size: 39px;
        margin-top: 18px;
        margin-bottom: 20px;
        background-color: #f7567c;
        margin-left: -3px;
        margin-right: -30px;
    }
    .description {
        font-family: "Spectral", serif;
        color: #ffffff;
        margin: 10px 0px 40px 50px;
    }

    .list {
        color: #ffffff;
        font-family: "Spectral", serif;
        font-size: 20px;
        margin: 8px -2px 5px 34px;
    }
}
@media (min-width: 576px) {
}
