@media screen {
    h1 {
        font-family: "Bodoni Moda", serif;
        color: white;
        margin-top: 91px;
        text-align: center;
    }
    #subtitle {
        font-family: "Bodoni Moda", serif;
        color: white;
        margin-top: 40%;
        text-align: center;
    }

    #topper {
        background-image: url(firefighter.png);
        background-size: cover;
        width: 100%;
        height: 790px;
    }
    .caption {
        font-family: "Alice", serif;
        font-size: 15px;
        padding: 2px 0px 2px 5px;
    }
    #date {
        font-family: "Alice", serif;
        font-size: 17px;
        margin-left: 25px;
        margin-right: 25px;
    }
    #byline {
        font-family: "Alice", serif;
        font-size: 17px;
        margin-right: 25px;
        margin-left: 25px;
    }
    .text {
        font-family: "Alice", serif;
        font-size: 20px;
        margin-right: 25px;
        margin-left: 25px;
    }
    #crew {
        margin-right: 0px;
    }
    #action {
        margin-left: 0px;
    }
    .action-caption {
        font-family: "Alice", serif;
        font-size: 15px;
        margin-left: 13px;
    }

    h3 {
        font-family: "Alice", serif;
        font-size: 30px;
        margin-right: 25px;
        margin-left: 25px;
        font-weight: bold;
    }
    img {
        width: 100%;
    }

    #couple {
        float: left;
        padding: 0px 20px 0px 0px;
        width: 50%;
    }
    .pullquote {
        text-align: center;
        font-family: "Alice", serif;
        font-weight: bold;
        color: #610000;
    }
    .quote {
        font-size: 36px;
    }
    .name {
        font-size: 28px;
    }
    .attribution {
        font-size: 22px;
    }

    .bigimage {
        padding: 0px;
    }
}

@media (min-width: 576px) {
    .text {
        margin-left: 115px;
        margin-right: 115px;
    }
    #date {
        margin-left: 115px;
        margin-right: 115px;
    }
    #byline {
        margin-left: 115px;
        margin-right: 115px;
    }

    h3 {
        margin-left: 115px;
        margin-right: 115px;
    }
}
